/* --- common part to header and footer --- */
header, footer {
	display: flex;
	color: white;
	padding: 10px;
	background-color: rgb(87, 194, 194);
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* --- header's part --- */
header {
	margin-bottom: 2%;
	justify-content: space-between;
}
header h1 {
	padding-left: 2rem;
}
header ul {
	font-size: 1.2rem;
	padding-right: 1em;
}
header li {
	margin: auto;
	list-style: none;
}

/* --- footer's part --- */
footer {
	margin-top: 2%;
	margin-bottom: -10px;
}
footer div {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
footer div div {
	width: 30%;
	margin: auto;
}
footer div div p {
	text-align: center;
}
footer img {
	padding: 1%;
	width: 8%;
}

section {
	display: flex;
	margin: auto;
	justify-content: space-around;
}
aside {
	width: 15%;
	height: 27em;
	padding: 3%;
	overflow: scroll;
}
aside div{
	margin: 3%;
}