body {

}
a {
	text-decoration: none;
	color: white;
}
button:hover {
	background-color: rgb(85, 216, 172);
}
button {
	border-radius: 10em;
	margin-bottom: 2%;
}
input {
	position: relative;
	border-radius: 10em;
	margin-top: 1%;
	margin-bottom: 3%;
	text-align: center;
}
div {
	justify-content: space-between;
}
form {
	border: 1px solid black;
	border-radius: 5em;
	background-color: rgb(107, 245, 245);
	position: fixed;
	text-align: center;
	top: 15rem;
	width: 60%;
	left: 20%;
}
